body {
  font-family: "Roboto";
  background: url("/flowers/assets/img/bg.jpg") no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1.3;
  text-align: center;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

td, th {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

input,
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #f3f5f5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  position: relative;
  height: 50px;
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

header > * {
  display: inline-block;
  vertical-align: middle;
}

header nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
}

header nav ul {
  height: 100%;
  text-align: center;
}

header nav ul li {
  /*text-transform: uppercase;*/
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  height: 100%;
  width: 250px;
  display: inline-block;
}

header nav ul li a {
  color: #3c3c3c;
  position: relative;
  height: 100%;
  display: block;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

header nav ul li a:hover {
  font-size: 19px;
  color: #000;
}

#header-search-form {
  height: 50px;
  float: right;
  position: relative;
  z-index: 1;
  padding: 0 10px 0 5px;
  background-color: rgba(0, 0, 0, .1);
}

#header-search-form .link {
  display: block;
  height: 50px;
  margin-right: 5px;
}

#header-search-form .link img {
  width: 40px;
  margin-top: 5px;
}

#header-search-form input {
  width: 200px;
  height: 30px;
  padding: 0 7px;
}

#header-search-form button {
  height: 30px;
  width: auto;
  outline: none;
  background-color: #a4c810;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

#header-search-form button:active {
  background-color: #6ed05b5e;
  -webkit-box-shadow: 0 0 1px 1px #fff;
  -moz-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px #fff;
}

.ok {
  position: relative;
  z-index: 1;
  height: 50px;
  float: right;
  margin: 0 8px 0 0;
}

.ok img {
  width: 40px;
  margin-top: 5px;
}

#order-add {
  display: inline-block;
  vertical-align: middle;
  margin: 15px auto 0 auto;
  position: relative;
  /*right: 20%;*/
  width: 500px;
  background-color: rgba(255, 255, 255, .85);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#order-add tr.name td:last-child {
  position: relative;
}

#order-add .names {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 75%;
  width: 90%;
  padding: 10px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px 0 black;
  -moz-box-shadow: 0 0 6px 0 black;
  box-shadow: 0 0 6px 0 black;
}

#order-add .names .names-item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#order-add .names .names-item {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 150%;
  text-align: center;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#order-add .names .names-item:hover {
  background-color: rgba(44, 117, 13, 0.2);
}

.order-add-list {
  vertical-align: middle;
  display: none;
  font-size: 18px;
  background-color: rgba(255, 255, 255, .85);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 400px;
}

.order-add-list td,
.order-add-list th {
  padding: 3px;
}

.order-add-list thead tr {
  background-color: rgba(255, 255, 255, .8);
}

.order-add-list th {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.order-add-list tbody tr td:first-child {
  text-align: center;
}

.order-add-list tbody tr td:last-child {
  text-align: center;
}

.order-add-list tbody tr:last-child {
  background-color: rgba(255, 255, 255, .8);
}

.order-add-list tbody tr:last-child td:first-child {
  text-align: right;
  font-weight: 600;
}

.order-add-list tbody tr:last-child td:last-child {
  font-weight: 600;
}

#order-add table,
.order-add-list table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#order-add tr,
#order-add tbody {
  /*width: 100%;*/
}

#order-add tr {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

#order-add tr td:first-child {
  width: 200px;
}

#order-add tr td:last-child {

}

#order-add td {
  vertical-align: middle;
  padding: 10px;
}

#order-add tbody tr td:first-child {
  font-weight: 600;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
}

#order-add textarea,
#order-add input {
  width: 100%;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#order-add input[type="text"],
#order-add input[type="number"]
#order-add textarea {
  display: inline-block;
  max-width: 330px;
  min-width: 330px;
  float: left;
}

#order-add textarea {
  min-height: 50px;
  max-width: 330px;
  min-width: 330px;
}

#order-add textarea#list_flowers {
  display: inline-block;
  float: left;
  max-width: 330px;
  min-width: 330px;
  min-height: 80px;
}

#order-add button {
  text-align: center;
  margin: 15px auto 0 auto;
  width: 50%;
  height: 30px;
  display: block;
}

#order-add tr.price_delivery {
  height: 80px;
}

#order-add input#price_delivery {
  margin-right: 30px;
  margin-bottom: 5px;
  width: 60%;
}

#order-update-form input#price_delivery {
  margin-bottom: 30px;
}

#order-add input#bus_delivery,
#order-update-form input#bus_delivery {
  display: none;
  width: auto;
  float: right;
  margin: 3px 10px;
}

#order-add .bus-icon,
#order-update-form .bus-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#order-add .bus-icon {
  width: 70px;
}

#order-update-form .bus-icon {
  width: 100%;
}

#order-add .bus-icon img,
#order-update-form .bus-icon img {
  width: 100%;
  max-height: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#order-add label[for="bus_delivery"] {
  float: right;
}

#order-add .bank-logo,
#order-update-form .bank-logo {
  width: 32%;
  height: 100px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#order-add .bank-logo img,
#order-update-form .bank-logo img {
  height: 80%;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  cursor: pointer;
}

#order-add .bank-logo input,
#order-update-form .bank-logo input {
  display: none;
}

#order-add .bank-logo.checked,
#order-update-form .bank-logo.checked {
  background-color: rgba(44, 117, 13, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#order-update-form .payment_part {
  position: relative;
  top: 50px;
  height: 30px;
  display: block;
  cursor: pointer;
}

#order-update-form .payment_part input {
  display: none;
}

#order-update-form .payment_part img {
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.payment-img,
.bus-img {
  width: 100%;
  max-width: 60px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.payment-img {
  cursor: pointer;
}

#order-list {
  max-width: 94vw;
  border-collapse: collapse;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  margin: 20px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#order-list td,
#order-list th {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

#order-list thead tr:first-child {
  background-color: rgba(255, 255, 255, .6);
}

#order-list thead tr th:first-child {
  border-top-left-radius: 25px;
}

#order-list thead tr th:last-child {
  border-top-right-radius: 25px;
}

#order-list tbody tr:nth-child(2n) td {
  background-color: rgba(247, 236, 131, 0.15);
}

#order-list tbody tr:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#order-list th {
  font-weight: 600;
}

#order-list td input {
  padding: 5px;
}

#order-list textarea#list_flowers {
  max-width: 290px;
  min-width: 290px;
  width: 290px;
  min-height: 150px;
}

#order-list .td-id {
  font-weight: bold;
  font-size: 20px;
}

.td-price_flowers input,
.td-price_delivery input,
.td-price_summary input {
  width: 75px;
}

#order-update-form .td-price_flowers input,
#order-update-form .td-price_delivery input,
#order-update-form .td-price_summary input {
  width: 40px;
  padding: 5px 0;
  text-align: center;
}

#order-update-form .td-address input,
#order-update-form .td-name input,
#order-update-form .td-address textarea,
#order-update-form .td-name textarea {
  max-width: 150px;
}

#order-update-form .td-address textarea,
#order-update-form .td-name textarea {
  min-width: 150px;
  min-height: 40px;
}

.td-price_flowers {
  font-weight: 600;
  font-size: 18px;
}

.th-id {
  width: 40px;
}

.th-list_flowers {
  width: 300px;
}
.td-list_flowers{
  /*background-color: #a4c810;*/
}
.td-name{
  font-size: 1.2em;
  font-weight: bold;
}
.pack{
  position: absolute;
  display: block;
  width: 20px;
  height: 100%;
  right: -20px;
  top: 0;
}
.pack:before,
.pack:after{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  background: #a4c810ad url("../img/icons/arrows.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.pack:before{
  top: 10px;
}
.pack:after{
  bottom: 10px;
}
.td-list_flowers ul.packed{
  padding-right: 5px;
  overflow-y: auto;
  max-height: 200px;
}
.td-list_flowers ul::-webkit-scrollbar {
  width: 12px;
}
.td-list_flowers ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.td-list_flowers ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 12px #a4c810;
}

.td-list_flowers ul .order-list-item {
  position: relative;
  padding: 0 30px 5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 5px;
  min-height: 26px;
}

.td-list_flowers ul .order-list-item:first-child {
  /*border-top: 1px solid rgba(0, 0, 0, .2);*/
  padding-top: 5px;
  /*margin-top: 5px;*/
}
.td-list_flowers ul .order-list-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.td-list_flowers ul .order-list-item span,
.td-list_flowers ul .order-list-item b {
  position: absolute;
  top: calc(50% - 0.625em);
  display: block;
}

.td-list_flowers ul .order-list-item span {
  left: 0;
  font-size: 12px;
}

.td-list_flowers ul .order-list-item b {
  right: 0;
  font-weight: bold;
}
#order-update-form .td-list_flowers ul .order-list-item{
  padding-right: 20px;
}
#order-update-form .td-list_flowers ul .order-list-item .delete-item{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 5px;
  margin: auto;
  width: 15px;
  height: 15px;
  background: url("../img/icons/delete.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#order-update-form .td-list_flowers ul .order-list-item .delete-item:hover{
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 7px 4px rgba(0,0,0,0.2);
}

#order-update-form .td-list_flowers .add-item{
  text-align: left;
  padding: 5px 30px;
  border: 1px solid lightgray;
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  margin-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#order-update-form .td-list_flowers .add-item:before,
#order-update-form .td-list_flowers .add-item:after{
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/icons/plus.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
#order-update-form .td-list_flowers .add-item:before{
  left: 8px;
}
#order-update-form .td-list_flowers .add-item:after{
  right: 8px;
}
th img.th-icon {
  max-width: 40px;
  height: auto;
  max-height: 50px;
  position: relative;
  display: inline-block;
}

th.th-price_bank {
  width: 100px;
}

td.edit-order img.img-save {
  /*width: 50px;*/
}

td.edit-order img,
td.remove-order img {
  max-width: 40px;
  width: 100%;
  cursor: pointer;
}

/*
td.td-date_departure .send-YES,
td.td-date_departure .send-NO,
td.td-date_departure span.send-text,
td.td-date_departure img.send-img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
*/
td.td-date_departure {
  min-width: 150px;
}

.tracking input#tracking_number {
  width: 80%;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 3px;
  height: 25px;
}

.tracking button.save {
  width: 20%;
  text-indent: -9999px;
  display: inline-block;
  padding: 0;
  height: 25px;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: transparent;
  outline: none;
}

.tracking button.save:after {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/icons/save.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.tracking_number {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  cursor: copy;
}

td.td-date_departure img.send-img {
  max-width: 100%;
  max-height: 50px;
  cursor: pointer;
}

td.td-date_departure span.send-text {
  text-transform: uppercase;
  box-shadow: 0 8px 17px 6px white;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  top: 14px;
  margin: auto;
  display: block;
  height: 0;
  width: 120px;
  z-index: 1;
  cursor: pointer;
}

td.td-price_bank img {
  width: 100%;
  max-width: 70px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

#order-list td.td-price_bank input[name="price_bank"] {
  display: none;
}

#order-update-form .bank-logo {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
}

#order-update-form .td-list_flowers {
  min-width: 300px;
  text-align: left;
}

#order-update-form .td-list_flowers .flowers-list-input-name { /*textarea*/
  min-width: 200px;
  max-width: 200px;
  min-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

#order-update-form .td-list_flowers .flowers-list-input-price { /*input*/
  display: inline-block;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  height: 40px;
}

.th-name,
.th-address,
.th-phone {
  width: 150px;
}

.th-date_create,
.th-date_payment {
  width: auto;
}

.td-date_create {
  white-space: nowrap;
}

.td-date_create b {
  font-weight: bold;
}

.th-date_departure {
  min-width: 140px;
  width: 140px;
}

.th-price_delivery,
.th-price_flowers,
.th-price_summary {
  width: 65px;
}

.th-edit-order,
.th-remove-order,
.th-payment {
  /*width: 60px;*/
}

#order-list thead tr th:last-child .tooltiptext {
  display: none;
}

/*tooltip*/

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: calc(50% + 20px);
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 600;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 45%;
  margin-left: -5px;
  border: 5px solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*tooltip*/

#order-update-form {
  display: table-row;
}

#order-update-form input {
  /*display: table-cell;*/
}

.monochrome {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}