body{
    font-family: "Roboto";
    background: url("/flowers/assets/img/bg.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}

body *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header nav{
    height: 50px;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(0,0,0,.3);
}

header nav ul{
    height: 100%;
    text-align: center;
}

header nav ul li{
    /*text-transform: uppercase;*/
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    height: 100%;
    width: 250px;
    display: inline-block;
}
header nav ul li a {
    color: #3c3c3c;
    position: relative;
    height: 100%;
    display: block;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
header nav ul li a:hover{
    font-size: 19px;
    color: #000;
}

table#order-list{
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

table#order-list td,
table#order-list th{
    border: 1px solid rgba(0,0,0,.3);
    padding: 5px;
    vertical-align: middle;
}
.remove-order{
    cursor: pointer;
    font-size: 26px;
}

#order-add {
    margin: 15px auto 0 auto;
    width: 500px;
    background-color: rgba(255,255,255,.9);
    padding: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#order-add table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#order-add tr{
    border-bottom: 1px solid rgba(0,0,0,.3);
}

#order-add td{
    vertical-align: middle;
    padding: 10px;
}

#order-add tr td:first-child{
    width: 170px;
}

#order-add input,
#order-add textarea{
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#order-add textarea{
    max-width: 290px;
    min-width: 290px;
    min-height: 100px;
}
#order-add button{
    text-align: center;
    margin: 15px auto 0 auto;
    width: 50%;
    height: 30px;
    display: block;
}
.payment-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#order-add #price_summary:hover{
    cursor: text;
}